 
<form (ngSubmit)="onSubmit(form)" #form="ngForm">
<div class="container-fluid">
      <div class="row">
            <div class="col-sm-6 "><input type="text" class="form-control" id="find" [(ngModel)]="find" name="find" /> </div>
            <div class="col-sm-6  "><input type="text" class="form-control" id="context" [(ngModel)]="context" name="context" /> 
             
            </div>
      </div>
      <div class="col-sm-12 p-0 "> 
            <button type="submit" class="btn btn-primary" value="Generate" >Generate</button>
      </div>
</div>
</form>



<table *ngFor="let item of data | keyvalue">
     <tr> 
      <td>{{item.key}}
            <div *ngFor="let line of splitline(item.value)"> 
                  {{line}}
            </div>

      </td>
     </tr>
</table>


 <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
 <div class="green">

      {{  data | json }}
 </div>
